@import './reset';

// BASE STYLE
$container-width: 60rem;

body {
  font-family: sans-serif;
  border-top: 0.25rem solid gray;
}

img {
  max-width: 100%;
}

a:focus,
button:focus {
  outline: 0.25rem dashed green;
  outline-offset: 0.25rem;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: 'Inconsolata', monospace;
  margin-bottom: 0.5em;
}

.container {
  max-width: $container-width;
  position: relative;
  margin: 0 auto;
  padding: 2.5rem 1rem 1rem 1rem;
}

nav {
  position: fixed;
  right: 2vw;
  top: 0;
}

@media screen and (min-width: $container-width) {
  nav {
    position: absolute;
  }
}

nav > a {
  display: block;
  background-color: grey;
  text-decoration: none;
  padding: 0.5em 1em 0.75em 1em;
  border-radius: 0 0 1em 1em;
}

@media screen and (min-width: 40rem) {
  .side {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.card-list {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 40rem) {
  .card-list.live {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 20%;
  }
  .card-list.live > li {
    flex: 1 1 50%;
  }
}

.card {
  display: block;
  background-color: lightblue;
  border-radius: 0.5rem;
  padding: 1em;
  margin-bottom: 1em;
  transition: opacity 250ms;
  text-decoration: none;
}
@media screen and (min-width: 40rem) {
  .card {
    margin: 1em 0.5em;
  }
}
a.card:hover {
  opacity: 0.75;
}
.card > img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.25em;
}

.card.sorted {
  max-width: 20rem;
  padding-left: 3.5em;
  position: relative;
}
.card.sorted::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: green;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 1em;
}
.card.sorted:nth-child(1)::before {
  content: '1';
}
.card.sorted:nth-child(2)::before {
  content: '2';
}
.card.sorted:nth-child(3)::before {
  content: '3';
}

.card.game > span {
  font-weight: 900;
}

.card-name {
  display: block;
  font-weight: 900;
}
