@import './reset';

// BASE STYLE
$container-width: 60rem;
$light: hsl(170, 25%, 98%);
$light-primary: hsl(170, 20%, 80%);
$dark-primary: hsl(170, 54%, 25%);
$dark: hsl(170, 20%, 15%);

body {
  font-family: sans-serif;
  background-color: $light-primary;
  border-top: 0.25rem solid $dark-primary;
  color: $dark;
}

img {
  max-width: 100%;
}

a {
  color: $dark;
}

a:focus,
button:focus {
  outline: 0.25rem dashed $dark-primary;
  outline-offset: 0.25rem;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: 'Inconsolata', monospace;
  margin-bottom: 0.5em;
}

.container {
  max-width: $container-width;
  position: relative;
  margin: 0 auto;
  padding: 2.5rem 1rem 1rem 1rem;
}

nav {
  position: fixed;
  right: 2vw;
  top: 0;
}

@media screen and (min-width: $container-width) {
  nav {
    position: absolute;
  }
}

nav > a {
  display: block;
  color: $light;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: $dark-primary;
  text-decoration: none;
  padding: 0.5em 1em 0.75em 1em;
  border-radius: 0 0 1em 1em;
}

@media screen and (min-width: 40rem) {
  .side {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.card-list {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 40rem) {
  .card-list.live {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 20%;
  }
  .card-list.live > li {
    flex: 1 1 50%;
  }
}

.card {
  display: block;
  background-color: $light;
  border-radius: 0.5rem;
  padding: 1em;
  margin-bottom: 1em;
  transition: opacity 250ms;
  text-decoration: none;
}
@media screen and (min-width: 40rem) {
  .card {
    margin: 1em 0.5em;
  }
}
a.card:hover {
  opacity: 0.75;
}
.card > img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.25em;
}

.card.sorted {
  max-width: 20rem;
  padding-left: 3.5em;
  position: relative;
}
.card.sorted::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: $dark-primary;
  color: $light;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 1em;
}
.card.sorted:nth-child(1)::before {
  content: '1';
}
.card.sorted:nth-child(2)::before {
  content: '2';
}
.card.sorted:nth-child(3)::before {
  content: '3';
}

.card.game > span {
  font-weight: 900;
}

.card-name {
  display: block;
  font-weight: 900;
}

.subtitle {
  margin-top: -0.75em;
  margin-bottom: 1em;
}

.stream {
  position: relative;
  background-color: $light;
  border-radius: 1em 1em 0 1em;
}

.stream > img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.stream-interactions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75em 0.25em;
  background-color: hsla(170, 25%, 98%, 20%);
}

.interactions {
  display: flex;
  justify-content: flex-end;
}

.interactions > button {
  font-size: 1.5rem;
  padding: 0.25em;
  border: none;
  background-color: $light;
  transition: opacity 250ms;
}

.interactions > button:hover {
  opacity: 0.5;
}

.interactions > button:first-child {
  border-radius: 0 0 0 0.5em;
}
.interactions > button:last-child {
  border-radius: 0 0 0.5em 0;
}

.donations > button {
  margin-top: 1em;
  background-color: $dark-primary;
  border: none;
  border-radius: 10rem;
  font-size: 1.5rem;
  padding: 0.25em 1em;
  color: $light;
  transition: opacity 250ms;
}

.donations > button:hover {
  opacity: 0.9;
}

.donations > span {
  margin-left: 1em;
  font-size: 1.25rem;
}

.chat {
  margin-top: 1em;
  background-color: $light;
  border-radius: 1em;
}

.chat-messages {
  height: 8rem;
  padding: 1em 1em 0 1em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-messages > li {
  background-color: $light-primary;
  border-radius: 1em;
  margin: 0.25em;
  padding: 0.25em 1em;
}

.chat-input {
  display: flex;
  padding: 0.5em;
}
.chat-input > button {
  background-color: $dark-primary;
  border: none;
  color: $light;
  font-size: 1rem;
  padding: 0.75em 1.25em 0.75em 1em;
  border-radius: 0 1em 1em 0;
}

.chat-input > input {
  border-radius: 1em 0 0 1em;
  flex-grow: 1;
  border: 2px solid $dark-primary;
  padding: 1em;
}
